:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --button-color: #ffffff;
  --background-button: #f5f4fa;
  --accent-white-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.flexbox {
  display: flex;
}

.gallery > img {
  width: 370px;
  height: 294px;
}

.btn {
  height: 50px;
  width: 200px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  color: var(--button-color);
  background-color: var(--accent-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}

.conteiner__title {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*site nav*/
.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logotype {
  margin-right: 93px;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logotype__part {
  color: var(--title-text-color);
}

.menu {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  position: relative;
  font-style: normal;
  font-weight: 500;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -32px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
}

.menu__link:hover,
.menu__link:focus {
  color: var(--accent-color);
}

.header {
  text-decoration: none;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header .flexbox {
  align-items: center;
  justify-content: flex-end;
}

.menu__link.current {
  color: var(--accent-color);
}

.header .email {
  margin-right: 50px;
}

.email,
.tel {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-box:hover .email,
.email-box:focus .email,
.tel-box:hover .tel,
.tel-box:focus .tel {
  color: var(--accent-color);
}

.email-box:hover .email-icon,
.tel-box:hover .tel-icon {
  fill: var(--accent-color);
}

.email-box,
.tel-box {
  display: flex;
  align-items: center;
}

.email-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--primary-text-color);
}

.tel-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--primary-text-color);
}

/*Section main page*/

.section {
  color: var(--title-text-color);
}

/*падынги секцый*/
.information,
.team,
.our-client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.example {
  padding-bottom: 94px;
}

.hero {
  display: flex;
  align-items: center;
  text-align: center;
  height: 600px;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 160px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-text {
  color: var(--button-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.hero-button {
  margin-top: 40px;
  padding-right: 0px;
  padding-left: 0px;
}

.hero-button:hover {
  outline: none;
}

/*Секцыя с текстом о компании*/
.about-work__list {
  width: 270px;
}

.about-work__inf,
.staff__position {
  color: var(--primary-text-color);
}

.about-work .about-work__list:not(:last-child) {
  margin-right: 30px;
}

.about-work__list::before {
  display: block;
  content: "";
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.icon-antenna::before {
  background-image: url("../icons/antenna.png");
  background-size: 70px;
}

.icon-clock::before {
  background-image: url("../icons/clock.png");
  background-size: 70px;
}

.icon-diagram::before {
  background-image: url("../icons/diagram.png");
  background-size: 70px;
}

.icon-astronaut::before {
  background-image: url("../icons/astronaut.png");
  background-size: 70px;
}

.about-work__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
}
.about-work__inf {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 0;
}

/*Секцыя с тремя картинками*/

.product,
.staff {
  margin-top: 50px;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.product__list:not(:last-child) {
  margin-right: 30px;
  /*width: calc((100%-30px * 2) / 3);*/
}

.product__box {
  position: relative;
}

/*.product__box:hover .product__text {
  opacity: 1;
}*/

.product__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: bold;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--button-color);
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  margin: 0;
  /* opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);*/
}

.team {
  background: #f5f4fa;
}

.box {
  width: 270px;
  background: #ffffff;
}

.staff {
  display: flex;
  flex-wrap: wrap;
}

.staff__list:not(:last-child) {
  margin-right: 30px;
}

.staff__list {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.staff__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  padding-top: 30px;
}

.staff__position {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 16px;
  padding-top: 10px;
  margin: 0;
}

.social-icons {
  display: flex;
  justify-self: center;
  padding: 0px 32px 30px 32px;
}

.social-icons__item:not(:last-child) {
  margin-right: 10px;
}

.social-icons__link:hover,
.social-icons__link:focus {
  background-color: var(--accent-color);
}

.social-icons__link:hover .social-icons__icon,
.social-icons__link:focus .social-icons__icon {
  fill: var(--button-color);
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.clients-icon {
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__list:hover .clients-icon {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients {
  display: flex;
  padding-left: 0;
  padding-top: 50px;
  margin: 0;
}

.clients__list:not(:last-child) {
  margin-right: 30px;
  /*width: calc((100%-30px * 5) / 6);*/
}

/*portfolio page*/
.line {
  border: 1px solid #ececec;
}

.conteiner .button-list {
  padding-top: 100px;
  padding-bottom: 55px;
  padding-left: 0;
  margin: 0;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--button-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-list {
  display: flex;
  justify-content: center;
}

.button {
  background-color: var(--background-button);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0;
  padding: 6px 22px;
  margin-right: 8px;
  border-radius: 4px;
  outline: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
}

.gallery-list {
  width: calc((100%-30px * 2) / 3);
  padding-bottom: 30px;
}

.border {
  width: 370px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.gallery-list:hover .border {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  margin: 0;
  padding: 20px 24px 5px 24px;
}
.gallery-title {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0px 24px 20px 24px;
}

.work-gallery {
  padding-bottom: 94px;
}

/*  спливаюче окно карток портфолио*/

.gallery-background {
  position: relative;
  overflow: hidden;
}

.gallery-background:hover .gallery-background-text {
  transform: translateY(0);
}

.gallery-background-text {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;

  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: var(--button-color);
  background-color: rgba(33, 150, 243, 0.9);

  margin: 0;
  padding: 63px 24px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*footer*/

footer {
  background-color: #2f303a;
}

.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.join {
  padding: 0;
}

.footer-title {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 20px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-color);
}

.footer-link {
  background: rgba(255, 255, 255, 0.1);
}

.footer-icon {
  fill: var(--button-color);
}

.box-adress {
  margin-right: 70px;
}

.footer .logotype__part {
  color: var(--button-color);
}

.adress {
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--button-color);
}

.footer-email,
.footer-tel {
  color: var(--accent-white-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}

.footer-form {
  margin-left: 90px;
}

.footer-form__field-label input {
  font-family: Roboto;
  font-style: normal;
  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  height: 50px;
  width: 350px;
}

.box-email input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.button-submit {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding-left: 29px;
}

.footer-submit-icon {
  fill: var(--button-color);
  height: 24px;
  width: 24px;
  margin-left: 10px;
}

.footer-form__field-label {
  display: flex;
}

.box-email {
  margin-right: 12px;
}

.box-email input {
  padding-left: 16px;
}

/* модальное окно */
.backgrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backgrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 530px;
  max-height: 580px;
  background-color: var(--button-color);
}

.modal-icon-close {
  width: 11px;
  height: 11px;
  fill: var(--title-text-color);
}
/*
.icon-name {
  width: 18px;
  height: 18px;
}
.icon-phone {
  width: 13px;
  height: 13px;
}
.icon-email {
  width: 15px;
  height: 15px;
}
*/
.modal-form {
  padding: 40px;
}

.field-input {
  position: relative;
}

.modal-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.text-before-modal-form {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;

  margin-top: 0;
  margin-bottom: 13px;

  letter-spacing: 0.03em;
  color: #212121;
}

.button-modal {
  position: absolute;
  top: 17px;
  right: 17px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--button-color);
}

.button-modal:hover .modal-icon-close {
  fill: var(--accent-color);
  /*background-color: var(--accent-color);*/
  outline: none;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.field-input input {
  padding: 10px 15px;
  width: 100%;
}

.field-input input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.form-field textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

.form-field .checkbox-label .text-term,
.contract-terms {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.checkbox-label {
  padding-right: 11px;
  padding-left: 11px;
}

.contract-terms {
  color: var(--accent-color);
}

.form-field label {
  font-family: Roboto, sans-serif;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field textarea {
  height: 120px;
}

.form-field textarea::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
/*
.modal-btn {
  padding: 10px 55px;
  margin: 30px 125px 40px 125px;
}*/

.form-input:focus + .modal-icon,
.form-input:focus {
  fill: var(--accent-color);
  outline-color: var(--accent-color);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
  outline-color: var(--accent-color);
}

.modal-button {
  margin-left: 125px;
}

.checkbox-label span::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  margin-right: 10px;
  vertical-align: middle;
}

.checkbox:checked ~ span::before {
  background-image: url(../icons/check.svg);
  fill: var(--button-color);
  background-color: var(--accent-color);
  background-size: cover;
  border: 2px solid var(--accent-color);
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
